<aside id="sidebar" class="sidebar" aria-label="Menu Lateral">
    <p class="sr-only">Menu principal</p>

    <div class="user-greeting"><h1>Oi <span>Renan</span></h1></div>

    <nav class="menu">
      <button type="button">Amigos</button>
      <button type="button">Comunidade</button>
      <button type="button" class="active">Estante</button>
    </nav>

    <div class="line-div" aria-hidden="true"></div>

    <section class="actions">
      <button class="olive-btn" type="button">Novo livro</button>
      <h3>Atualizar leituras:</h3>
      <article class="book">
        <img src="./assets/images/books/recBook17.jpg" class="book-cover recent-book" alt="Capa do livro recente" />
        <div class="progress-bar"><div style="width:36%"></div></div>
        <p class="progress-number">346/983 páginas</p>
      </article>
    </section>
</aside>