footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding: 2.5rem 20rem;
    z-index: 1000;
    background-color: var(--olive);
}

footer a, footer p {
    color: var(--offwhite);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

.footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 1rem;
}

.footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
