.site-header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: var(--header-height);
    background: var(--olivy);
    backdrop-filter: blur(6px);
    border-bottom: 1px solid var(--olivy);
    z-index: 100;
}

.left-navbar {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.hamburger-btn {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: .25rem;
}

.hamburguer-btn svg { stroke: var(--olive); }

.navbar .logo img {
    height: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: #222;
    font-size: 1.5rem;
}

.search-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: calc(var(--header-height) * 0.6);
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 0 0.25rem 0 0.75rem;
}

.search-box input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding: 0.45rem 0;
    background: transparent;
}

.search-box .icon-button {
    padding: 0.25rem;
    border-radius: 50%;
    opacity: 65%;
    padding-bottom: calc(0.25rem + 2px);
    padding-right: calc(0.25rem + 2px);
}
