/* Posts */

/* Post header */

.post-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

.post-header .user-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.user-photo {
    width: 60px;
    border-radius: 50%;
    border: 1px solid var(--olivy);
}

/* Post body */

.post-body {
    display: flex;
    margin-top: 1rem;
    max-height: none;
}

.post-body .book-info {
    width: auto;
    height: auto;
    display: flex;
    gap: 1rem;
    font-family: 'Montserrat', sans-serif;
    border-left: 1px solid var(--olivy);
    padding-left: 1rem;
}

.book-cover {
    max-width: 200px;
    height: auto;
    border: 1px solid var(--olivy);
    border-radius: 5px;
}

.progress-bar {
    width: 100%;
    background: #eee;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 1rem;
}

.progress-bar div {
    height: 100%;
    background: var(--olive);
}

.post-body .comment {
    width: 100%;
    margin: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.post-footer {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
    border-top: 1px solid var(--olivy);
    border-bottom: 1px solid var(--olivy);
    padding: 1rem 0;
}