.sidebar {
    position: fixed;
    top: calc(var(--header-height + 1px));
    left: 0;
    height: calc(100vh - var(--header-height) - 1px);
    width: 240px;
    background-color: var(--offwhite);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--olivy);
    overflow-y: auto;
    z-index: 90;
    transform: translateX(-100%);
    transition: transform .3s ease;
}

.sidebar.open { transform: translateX(0); }

.user-greeting {
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    line-height: 1.1;
    transform: translateY(-4px);
    padding-bottom: 1rem;
}

.user-greeting h1 {
    margin: 0;
    font-size: 2rem;
    font-family: 'Swistblnk Banthers', serif;
    color: #222;
}

.user-greeting span {
    font-weight: 700;
    color: var(--olive);
}

.sidebar .menu button, .sidebar .actions .olive-btn {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid var(--olive);
    background: white;
    color: var(--olive);
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.sidebar .menu button:hover, .sidebar .actions .olive-btn:hover {
    background: var(--olive);
    color: white;
}

.sidebar .olive-btn {
    background: var(--olive);
    color: white;
    border: none;
    font-weight: bold;
}

.recent-books {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}

.recent-book {
    width: 200px;
    height: auto;
}

.book .progress-bar {
    width: 100%;
    background: #eee;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 0.5rem;
}

.book .progress-bar div {
    height: 100%;
    background: var(--olive);
}

.book .progress-number {
    font-size: 1rem;
    color: var(--olive);
    text-align: center;
    margin-top: 0.25rem;
}

.line-div {
    width: 100%;
    height: 1px;
    background-color: var(--olivy);
    margin: 0.5rem 0;
}
