.feed-container {
    display: flex;
    align-items: flex-start;
    min-height: 100vh;
}

.sidebar {
    position: sticky;
    top: var(--header-height);
    flex: 0 0 240px;
    height: calc(100vh - var(--header-height));
    background-color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-right: 1px solid #ccc;
    overflow-y: auto;
}

.sidebar .menu button, .sidebar .actions .olive-btn {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid var(--olive);
    background: white;
    color: var(--olive);
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.sidebar .olive-btn {
    background: var(--olive);
    color: white;
    border: none;
    font-weight: bold;
}

.timer {
    text-align: center;
    font-family: 'Swistblnk Banthers', serif;
    font-size: 1.2rem;
    margin-top: auto;
}

.timer img {
    width: 120px;
    margin: 0.5rem 0;
}

/* FEED */

.main-feed {
    flex: 1;
    padding: 2rem;
}

.user-greeting h1 {
    font-size: 2rem;
    font-family: 'Swistblnk Banthers', serif;
}

.user-greeting h1 span {
    color: var(--brown);
}

.card-section h2 {
    font-family: 'Swistblnk Banthers', serif;
    color: var(--brown)
}

.cards {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.card {
    width: 60px;
    height: 100px;
    background: linear-gradient(to bottom, var(--olive), #fff);
    border-radius: 5px;
}

.tabs {
    margin-top: 1rem;
}

.tabs .tab {
    padding: 0.5rem 1rem;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #333;
    background: white;
    cursor: pointer;
}

.tabs .tab.active {
    background: var(--olive);
    color: white;
}

.bottom-icons {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin-top: 2rem;
}