/* Header */

.user-greeting {
    margin: 0;
    display: flex;
    flex-direction: column;
    line-height: 1.1;
    transform: translateY(-4px);
}

.user-greeting h1 {
    margin: 0;
    font-size: 2rem;
    font-family: 'Swistblnk Banthers', serif;
    color: #222;
}

.user-greeting span {
    font-weight: 700;
    color: var(--olive);
}

/* Main */

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 241px;
    margin-right: 240px;
    padding-left: 2rem;
    padding-right: 0;
    gap: 1rem;;
}

.recomendations-section {
    overflow-x: hidden;
}

.feed-switch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    width: 100%;
}

.feed-switch-container .div-line {
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

.feed-switch-container .div-line:first-of-type {
    margin-right: 1rem;
}

.feed-switch-container .div-line:last-of-type {
    margin-left: 1rem;
}

.feed-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2rem;
    overflow-x: hidden;
}